# Environments
.env
.env.local
.env.development
.env.production

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Data & Media (Không push video và database lên GitHub)
data/
*.sqlite
*.db

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# Celery
celerybeat-schedule*

# Temp & Audio test files
*.mp3
scratch/

# Executables and installers
*.msi

# Local agent session data and temp data
local_agent/
local_agent/user_session_data/

# Build and version artifacts
backend/1.0.6

